<div class="page-container">
    <div class="sidebar">
       <div class="list-items">
           <a routerLink="/rest-1" routerLinkActive="selected"  class="list-item"> Bengulure Bites</a>
           <a routerLink="/rest-2" routerLinkActive="selected" class="list-item"> The Greek Indian</a>
           <a routerLink="/rest-3" routerLinkActive="selected" class="list-item"> Indian Food</a>
           <a routerLink="/rest-4" routerLinkActive="selected" class="list-item"> Indian Desserts </a>
       </div> 
    </div>
    <div class="page-content-container">
    <router-outlet></router-outlet>
</div>
</div> 