 <nav class="navigation">
   <header  class="header">
  <img src="assets/logo.jpeg" class="image" >
  <form class="form">
  <input type="text" class="text_box" placeholder="Search for food..." >
  <input type="submit" value="Search" class="search_button">
</form>
<div style=" margin-top: 22px;">
<span class="span1">0.00</span>
<span class="span2">0</span>
&nbsp;<i class="fa fa-shopping-cart" style="font-size:27px;color:white"></i>
</div>


<button class="button_signup"  >SignUp</button>
<button class="button_login"  >Login</button>
 

</header>
 </nav>