<div class="container">
    <img src="assets/gulanJamun.jpg" style="width: 100%;height: 200px;">
    <h3  class="rupee">100</h3>
    <a href="#" class="cart-button">Add to cart </a>
</div>
<div class="container">
    <img src="assets/kajuBarfi.jpg" style="width: 100%;height: 200px;">
    <h3  class="rupee">100</h3>
    <a href="#" class="cart-button">Add to cart </a>
</div>
<div class="container">
    <img src="assets/laddu.jpg" style="width: 100%;height: 200px;">
    <h3  class="rupee">100</h3>
    <a href="#" class="cart-button">Add to cart </a>
</div>