.section-intro {
    height: 61vh;
    color: black;
    background-image: url(../../assets/foodie.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}